@import "../../../../styles/variables.scss";

::ng-deep app-login {
    display: flex;
    align-items: center;
    width: 18rem;

    @media only screen and (max-width:993px) {
        width:100%;
        margin-top:4rem;
    }

    @media only screen and (min-width:1600px) {
        width: 25rem;
    }
}

.login {
    background: $color-primary;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: white;

    .data-input {
        input:last-child {
            margin-top: 0.8rem;
        }
    }

    .user-big {
        width: 12rem;
        height: auto;
        margin: 0 auto;
        position: relative;
        margin-top: -6rem;
    }
}
