<p-dialog header="Error" [dismissableMask]='true' [modal]='true' [(visible)]="showErrors">
  {{errorMessage}}
</p-dialog>

<div class="login d-flex justify-content-between align-items-center">
  <img alt='logo' class="user-big" src='/assets/imgs/logo.svg' />
  <span class='secondary-color'>Please login to continue.</span>
  <div class="data-input form-group">
    <input [(ngModel)]='loginData.email' placeholder='email@example.com' class="user-input form-control" />
    <input [(ngModel)]='loginData.password' type='password' placeholder='•••••••' class="password-input form-control" />
  </div>
  <a (click)='login()' class="btn btn-secondary btn-login w-100">Login</a>
  <a class="new-account secondary-color text-decoration-none" href="/register">Register new Account</a>
</div>
