<p-dialog [header]="modalModel.title" [dismissableMask]='true' [modal]='true' [(visible)]="modalOpen">
  {{modalModel.text}}
  <ng-template pTemplate="footer">
    <p-button (click)="modalOpen=false" label="OK" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<div class='d-flex flex-column justify-content-center align-items-center w-100'>
  <div class='w-75 text-center notice'>
      Banklink needs authorization to gather data from your bank accounts. Allow Banklink in your Bank's website or app,
      or make a new Authorization Request clicking the button below.
    </div>
    <div calss='w-75 text-center'>
      <button class='button btn btn-primary notice' (click)='makeLinkRequest()'> Send New Link Request </button>
  </div>
</div>