<p-dialog [header]="isModalSuccess? 'Success': 'Error'" [modal]='true' (onHide)='hideCallback()' [(visible)]="isModalOpen">
    <span >{{modalMessage}}</span>
    <ng-template pTemplate="footer">
        <p-button (click)="isModalOpen=false" label="OK" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<div class='main-area'>
    <div class='d-flex justify-content-between flex-column h-100'>
        <div class='upper container-fluid'>
            <div class='row title-row'>
                <div class='col-md-12'>
                    <h1 class='big-title'>Link new account</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-9'>
                    <div class='form-group'>
                        <label>Account Number</label>
                        <input [(ngModel)]='account.accountNumber' class='account-number form-control'>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='form-group'>
                        <label>Agency Number</label>
                        <input [(ngModel)]='account.agencyNumber' class='account-digit form-control'>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <label>Financial Institution</label>
                        <p-dropdown class='select-bank col-md-3' [(ngModel)]="currentBank" [options]="banks" optionLabel="name" optionDisabled="inactive"></p-dropdown>
                </div>
            </div>
            </div>
        </div>
        <div class='footer row'>
            <div class='offset-md-9 col-md-3'>
                <button class='btn btn-primary w-100' (click)='createLinkRequest()'>Send</button>
            </div>
        </div>
    </div>
</div>