@import "../../../../styles/variables.scss";

::ng-deep app-link-new-account {
    display: flex;
    align-items: center;
}

.title-row {
    margin-bottom: 2rem !important;
}

::ng-deep p-dropdown {
    padding: 0 !important;

    .p-dropdown {
        border-radius: 32px;
        border-color: $color-primary;
    }
}
