@import "../../../../styles/variables.scss";

::ng-deep app-my-accounts {
    display: flex;
    align-items: center;
}

.my-accounts {
    .account-cards {
        margin-top:2rem;
    }

    .account-card-container {
        @media only screen and (max-width:993px) {
            &:not(:first-child) {
                margin-top:2rem !important;
            }
        }

        .account-card {
            border:1px solid $light-gray;
            border-radius:12px;
            padding:0.75rem;
            margin-bottom: 2rem;

            &:hover {
                cursor:pointer;
            }
        }
    }
}