<div class='my-accounts'>
    <div class='main-area'>
        <div class='container-fluid'>
            <div class="row title-row d-flex align-items-center">
                <h1 class="big-title col-md-9">My Accounts</h1>
                <button (click)='openLinkAccount()' class='col-md-3 h-75 link-account btn btn-primary'>Link New Account </button>
            </div>
            <div class='row account-cards'>
                <div class='col-md-4 account-card-container' *ngFor='let account of accounts'>
                    <div class='account-card w-100 d-flex flex-column' (click)='openAccount(account.id)' >
                        <span class='bank-title'>
                           <b> {{account.bankName}}</b>
                        </span>
                        <span class='account-number'>
                            Agency: {{account.agencyNumber}}
                        </span>
                        <span class='account-number'>
                            Account: {{account.accountNumber}}
                        </span>
                        <span class='d-flex justify-content-end'>
                            <img alt='logo' class='img img-fluid w-50' src='assets/imgs/logo.svg'>
                        </span>
                    </div>
                </div>

                
            </div>
            <div class='container' *ngIf='noContent'>
                <div class='d-flex flex-column w-100 h-100 justify-content-center align-items-center no-content-notice text-center'>
                   <span> There is no bank data yet.
                    </span>
                    <a class='action-icon text-primary' (click)='openLinkAccount()'>Link new account</a>
            </div>
        </div>
    </div>
</div>