@import "../../../../styles/variables.scss";

::ng-deep app-account-details {
    display: flex;
    align-items: center;
}

.transactions-header {
    border-bottom:1px solid $light-gray;
    font-weight: bold;
    padding-bottom:0.5rem;
}

.transaction {
    padding:1rem 0rem;

    &:nth-of-type(odd) {
        background:rgba(0, 0, 0, 0.03);
    }

    .positive {
        color:#3A9F61;
    }

    .negative {
        color:#f77972;
    }
    
}