<div class="main-area">
  <div class="container-fluid">
    <div class="row title-row d-flex">
      <h1 class="big-title col-md-9">Account Details</h1>
    </div>
    <div class='container'>
      <div class='row transactions-header'>
        <div class='col-md-4 col'>
          Date
        </div>

        <div class='col-md-4 col'>
          Description
        </div>
  
        <div class='col-md-4 col text-right'>
          Value
        </div>
      </div>
    </div>
    <div class='container' *ngIf='currentAccount'>
      <div class='row transaction' *ngFor='let transaction of currentAccount.bankData' >
        <div class='col-md-4 col'>
          {{transaction.date | date: 'dd/MM/yyyy'}}
        </div>
  
        <div class='col-md-4 col'>
          {{transaction.description}}
        </div>
  
        <div class='col-md-4 col text-right' [class.positive]='transaction.amount > 0' [class.negative]='transaction.amount < 0'>
          {{transaction.amount | currency:'BRL'}}
        </div>
      </div>
    </div>

    <div class='container' *ngIf='unauthorizedAccount'>
      <app-authorization-notice [accountId]='accountId'>
      </app-authorization-notice>
  </div>
</div>
