<div class="side-area d-flex justify-content-between align-items-center" [class.active]='username'>
    <div class='top'>
        <img alt='logo' class="user-big" src='/assets/imgs/logo.svg' />
    </div>
    <div class='username'>{{username}}</div>
    <ul class='menu'>
        <li (click)='navigateToHome()'>Home</li>
        <li (click)='navigateToAccounts()'>My accounts</li>
        <li (click)='logout()'>Logout</li>
    </ul>
    <div class='footer'>
    </div>
  </div>