@import "../../../../styles/variables.scss";

$home-border-radius:12px;

::ng-deep app-home {
    display: flex;
    justify-content: center;
    align-items:center;
}

.home {
    ::ng-deep .p-dropdown {
        border-radius:$home-border-radius;
    }

    .available-balance {
        display:flex;
        align-items: center;
        justify-content: space-between;
        border:1px solid $light-gray;
        border-radius: $home-border-radius;
        padding:0rem 0.5rem;
        height: 100%;

        .available-balance-value, .available-balance-value-hidden, .action-icon {
            color:$color-primary;
            font-size:1.4rem;
        }

        @media only screen and (max-width:993px) {
            margin-top:1rem;
            padding: 0.15rem 0.5rem;
            height: auto;
        }
    }

    .graphs {
        *:last-child {
            @media only screen and (max-width:993px) {
                margin-top:1rem;
            }
        }
    }

    .recent-balance-updates, .score-graph {
        border:1px solid $light-gray;
        border-radius:$home-border-radius;
        height:16rem;
    }

    .no-content-notice {
        margin-top:4rem;
    }
}