<div class='home'>
    <div class='main-area'>
        <div class='container-fluid'>
            <div class="row title-row">
                <h1 class="big-title col-md-12">User Dashboard</h1>
            </div>
            <div class='row' *ngIf='!noContent'>
                <div class='form-group col-md-6'>
                    <label>Current Bank Account</label>
                <p-dropdown class='select-bank' [options]="bankList" optionLabel="label" optionDisabled="inactive" (onChange)='loadBankData($event.value.id)'></p-dropdown>
                </div>
                <div class='form-group col-md-6 justify-content-end'>
                    <label>Avaliable Balance</label>
                    <div class='available-balance d-flex justify-content-between'>
                        <i class='pi pi-eye-slash action-icon' [class.pi-eye]='!showBalance' (click)='showBalance = !showBalance'></i>
                        <span [hidden]='!showBalance' class='available-balance-value'>{{availableBalance | currency:'BRL'}}</span>

                        <span [hidden]='showBalance' class='available-balance-value-hidden'>Click to show</span>
                    </div>
                </div>
            </div>
            <div class='row graphs' *ngIf='!unauthorized && !noContent'>
                <div class='col-md-8'>
                    <label>Income x Expenses (4 months)</label>
                    <div class='recent-balance-updates'>
                        <p-chart type="bar" [data]="lineChartData"></p-chart>
                    </div>
                </div>
                <div class='col-md-4'>
                    <label>Average Balance (4 months)</label>
                <div class='score-graph'>
                        <p-chart type="doughnut" class='d-flex justify-content-center align-items-center' [data]="donutChartdata" [style]='{"height":"100%"}'></p-chart>
                    </div>
                </div>
            </div>
            <div class='container' *ngIf='unauthorized && !noContent'>
                <app-authorization-notice [accountId]='accountId'>
                </app-authorization-notice>
            </div>
            <div class='container' *ngIf='noContent'>
                <div class='d-flex w-100 h-100 justify-content-center align-items-center no-content-notice'>
                    There is no bank data yet. You can link new bank accounts in&nbsp;<a class='action-icon text-primary' (click)='openAccounts()'>My Accounts</a>
            </div>
        </div>
    </div>
</div>