.app {
    width:100%;
    display:flex;
    justify-content: center;
    align-content: center;
    min-height:100vh;

    @media only screen and (max-width:993px) {
        flex-direction: column;
        justify-content: initial;

    }
}