@import "../../../../styles/variables.scss";

:host {
    width:100%;
    background:white;
    height:4rem;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.mobile-navbar {
    height:100%;
    width: 100%;

    .mobile-logo {
        max-width: 9rem;
        margin-left:0.25rem;
    }

    .menu-area {
        button {
            margin-right:0.25rem;
            background:white;
            color:$color-primary;
            border:none;

            ::ng-deep .pi {
                font-size: 1.5rem !important;
            }
        }
    }
}