<div class='mobile-navbar d-flex justify-content-between'>
    <img alt='logo' (click)='openHome()' class="user-big img img-fluid mobile-logo action-icon" src='/assets/imgs/mobile-logo.svg' />
    <div class='menu-area d-flex align-items-center'>
        <button type="button" pButton icon="pi pi-list" label="" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
</div>